<div class="text-center" style="padding-top: 150px">
    <a class="" style="font-size: 30px; color: black; text-decoration: none" asp-area="Admin" asp-controller="Admin" asp-action="Orders">Заказы</a><br />
    <a class="" style="font-size: 30px; color: black; text-decoration: none" asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a><br />
    <a class="" style="font-size: 30px; color: black; text-decoration: none" asp-area="Admin" asp-controller="Role" asp-action="Roles">Роли</a><br />
    <a class="" style="font-size: 30px; color: black; text-decoration: none" asp-area="Admin" asp-controller="Admin" asp-action="Cars">Продукты</a><br />
</div>  