<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Catalog">CoolCar</a>
                <a class="navbar-brand" style="font-size: 12px" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
            </div>
            <div class="container-fluid" style="width: 600px">
                <form class="d-flex" role="search" method="post" style="height:30px">
                    <input name="name" class="form-control" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-dark" style="height:30px" type="submit" asp-controller="home" asp-action="search"> <i class="bi bi-search"></i> </button>
                </form>
            </div>
                
            
            <div>
                <a class="navbar-brand bi bi-heart" title="Избранное" asp-area="" asp-controller="liked" asp-action="index"> </a>
                <a class="navbar-brand bi bi-clipboard2-plus" title="Сравнение" asp-area="" asp-controller="compare" asp-action="index"> </a>
                <a class="navbar-brand bi bi-cart4" title="Корзина" asp-area="" asp-controller="Card" asp-action="Index">
                    <sup>@await Component.InvokeAsync("Card")</sup>
                </a>
                <a class="navbar-brand" title="Корзина" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>