@model Login

<form asp-controller="Account" asp-action="Login" method="post">
    <input asp-for="ReturnUrl" type="hidden" />
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <h4>Вход</h4>
    <br />
    <div class="row mb-3">
        <label asp-for="login" class="col-sm-1 col-form-label">Логин</label>
        <div class="col-sm-3">
            <input asp-for="login" type="email" class="form-control" placeholder="Email">
            <span asp-validation-for="login"/>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <input asp-for="Password" type="password" class="form-control" placeholder="*********">
            <span asp-validation-for="Password"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm offset">
            <div class="form-check">
                <input name="CheckBox" class="form-check-input" type="checkbox">
                <label class="form-check-label" asp-for="RememberMe">
                    Запомнить меня?
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="account" asp-action="login">Войти</button>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="register" asp-route-ReturnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
</form>