<div class="list-group-flush">
    
    <ul width="100%" class="d-flex justify-content-center gap-4">
        <li style="list-style-type: none"><a class="" style="color: black; text-decoration:none" asp-controller="admin" asp-action="Orders"> <i class="bi bi-cart4"></i> Заказы </a></li>
        <li style="list-style-type: none"><a class="" style="color: black; text-decoration:none" asp-area="admin" asp-controller="user" asp-action="index"> <i class="bi bi-people"></i> Пользователи </a></li>
        <li style="list-style-type: none"><a class="" style="color: black; text-decoration:none" asp-controller="admin" asp-action="Roles"> <i class="bi bi-person-gear"></i> Роли </a></li>
        <li style="list-style-type: none"><a class="" style="color: black; text-decoration:none" asp-controller="admin" asp-action="Cars"> <i class="bi bi-basket2"></i> Продукты </a></li>
    </ul>
</div>