@model ChangePassword
<h2>Смена пароля для пользователя @ViewData["userName"]</h2>


<form method="post" asp-route-UserId="@ViewData["UserId"]">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    
    
     <div class="row mb-3">
        <label asp-for="NewPassword" class="col-sm-1 col-form-label">Новый пароль</label>
        <div class="col-sm-3">
            <input asp-for="NewPassword" type="" class="form-control">
            <span asp-validation-for="NewPassword" />
        </div>
    </div> 
    <div class="row mb-3">
        <label asp-for="ConfirmPassword" class="col-sm-1 col-form-label">Введите повторно новый пароль</label>
        <div class="col-sm-3">
            <input asp-for="ConfirmPassword" type="" class="form-control">
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>  
    <h1>@ViewData["UserId"]</h1>
    <button type="submit" class="btn btn-outline-primary" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сохранить</button>
</form>
